PORT=9090 # API port

# Postgres config
POSTGRES_HOST=db # don't touch if you use the docker local instance
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# JWT config
SECRET_KEY=somesecretkey
ALGORITHM=HS256

